:root {
    --macos-traffic-lightred: #ff5f57;
    --macos-traffic-darkred: #9b0002;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Playfair Display', serif;
    /* font-family: Helvetica, Arial, sans-serif; */
    background-color: #FFFCF2;
    color: #252422;
    max-width: 60rem;
    margin: 0 auto;
}

header h1 {
    font-weight: 900;
    text-align: center;
}

header p {
    font-weight: 600;
}

header a {
    color: #403D39;
    /* text-decoration: none; */
    transition: color 0.2s;
}

header a:hover {
    color: #EB5E28;
}

h3 {
    text-align: center;
}

code {
    background-color: whitesmoke;
}

section, header {
    margin: 50px;
}

#convertForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#convert {
    border: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: #403D39;
    color: white;
    transition: background-color 0.2s;
    cursor: pointer;
    box-shadow: 0px 2px 4px 0px #00000030;
}

#convert:hover {
    background-color: #EB5E28;
}

#convert:active {
    box-shadow: none;
}

#convertField {
    border: 2px solid #403D39;
    border-radius: 0.4rem;
}

#convertField:focus {
    outline: 2px solid #EB5E28;
    border: 2px solid #EB5E28;
}

.title-w-icon svg:not(.drag-icon) {
    cursor: pointer;
    transition: 0.2s stroke;
    display: block;
    margin: 0 auto 2rem auto;
    animation: breathing 2s ease-in-out infinite;
}

.title-w-icon svg:hover {
    stroke: #EB5E28;
    animation: none;
}

.info-popup {
    position: absolute;
    display: none;
    background-color: #403D39;
    border-radius: 0.9rem;
    padding: 2rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 45%;
    top: 50%;
    color: #FFFCF2;
}

.info-popup p {
    margin-top: 3rem;
}

.drag-icon {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: move;
    stroke: #FFFCF2;
    width: 18px;
}

.close-button {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 13px;
    height: 13px;
    background-color: var(--macos-traffic-lightred);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button::before,
.close-button::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: transparent;
    border-radius: 0.1rem;
}

.close-button::before {
    transform: rotate(45deg);
}

.close-button::after {
    transform: rotate(-45deg);
}

.close-button:hover::before,
.close-button:hover::after {
    background-color: var(--macos-traffic-darkred);
}

@keyframes breathing {
    0%,
    100% {
        stroke-opacity: 1;
    }

    50% {
        stroke-opacity: 0.3;
    }
}

@media (min-width: 768px) 
{
    h3,
    #testui {
        text-align: left;
    }

    .title-w-icon {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .title-w-icon:first-of-type {
        gap: 1.7rem;
    }

    .title-w-icon svg {
        margin: 0;
    }

    #convertForm {
        display: block;
    }

    #convertField {
        margin-right: 0.4rem;
    }
}